@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.body {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0; }
  .body .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 320px;
    height: 88px;
    background-color: #FFFFFF; }
    @media (min-width: 1366px) {
      .body .header {
        margin-left: 320px;
        min-width: 1046px; } }
    .body .header .header_tablet {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
      align-items: center;
      padding: 0 16px; }
      @media (min-width: 1366px) {
        .body .header .header_tablet {
          display: none; } }
      .body .header .header_tablet .header_tablet-button {
        margin-right: 16px; }
        .body .header .header_tablet .header_tablet-button:last-child {
          margin-right: 0; }
      .body .header .header_tablet .header_logo-block {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center; }
        .body .header .header_tablet .header_logo-block::before {
          display: none;
          content: '';
          height: 32px;
          width: 2px;
          border-radius: 1px;
          margin-right: 20px;
          background-color: #EAEAEA; }
          @media (min-width: 343px) {
            .body .header .header_tablet .header_logo-block::before {
              display: block; } }
        .body .header .header_tablet .header_logo-block::after {
          content: '';
          height: 32px;
          width: 2px;
          border-radius: 1px;
          margin-right: 20px;
          background-color: #EAEAEA; }
        .body .header .header_tablet .header_logo-block .logo-block_logo {
          width: 98;
          height: 52;
          margin-right: auto; }
        .body .header .header_tablet .header_logo-block .logo-block_button {
          margin-right: 16px; }
        .body .header .header_tablet .header_logo-block .logo-block_button--call {
          display: none; }
          @media (min-width: 510px) {
            .body .header .header_tablet .header_logo-block .logo-block_button--call {
              display: block; } }
        .body .header .header_tablet .header_logo-block .logo-block_button--profile {
          display: none; }
          @media (min-width: 398px) {
            .body .header .header_tablet .header_logo-block .logo-block_button--profile {
              display: block; } }
        .body .header .header_tablet .header_logo-block .logo-block_button--chat {
          display: none; }
          @media (min-width: 454px) {
            .body .header .header_tablet .header_logo-block .logo-block_button--chat {
              display: block; } }
    .body .header .header_pc {
      display: none;
      background-color: #F8F8F8; }
      @media (min-width: 1366px) {
        .body .header .header_pc {
          display: flex;
          flex-wrap: wrap;
          flex-grow: 1;
          height: 88px;
          padding: 0 16px; } }
      .body .header .header_pc .header_pc-title {
        font-family: TTLakesBold;
        align-self: center;
        margin-right: auto; }
        .body .header .header_pc .header_pc-title::before {
          content: " ";
          position: absolute;
          left: 320px;
          width: 4px;
          height: 40px;
          background: #41F6D7;
          border-top-right-radius: 45px;
          border-bottom-right-radius: 45px; }
      .body .header .header_pc .header_pc-button {
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: TTLakesMedium;
        margin: 0%;
        padding: 0%;
        background: none;
        border: none; }
      .body .header .header_pc .header_pc-button--request::after {
        content: '';
        margin-right: 16px;
        margin-left: 8px;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: #FF3E79;
        background-image: url(./static/repair.svg); }
      .body .header .header_pc .header_pc-button--etat::after {
        content: '';
        margin-left: 8px;
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: #FF3E79;
        background-image: url(./static/search.svg); }
  @media (min-width: 1366px) {
    .body .main {
      margin-left: 320px;
      min-width: 1046px; } }
  .body .footer {
    display: flex;
    flex-wrap: wrap;
    background: #F8F8F8;
    border-top: 1px solid #D9FFF5;
    align-items: center;
    min-width: 288px;
    align-self: flex-start;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 19px; }
    @media (min-width: 768px) {
      .body .footer {
        align-items: baseline;
        height: 105px;
        padding: 0 24px;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-between;
        padding-bottom: 0; } }
    @media (min-width: 1120px) {
      .body .footer {
        min-width: 1020px;
        height: 85px;
        padding: 0 24px; } }
    @media (min-width: 1366px) {
      .body .footer {
        margin-left: 320px; } }
    .body .footer .footer_item {
      display: flex;
      flex-wrap: wrap;
      font-family: 'TTLakesRegular';
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #7E7E82;
      margin-top: 16px; }
      .body .footer .footer_item:first-child {
        max-width: 218px; }
        @media (min-width: 768px) {
          .body .footer .footer_item:first-child {
            margin-top: 32px;
            text-align: left;
            width: 218px; } }
        @media (min-width: 768px) {
          .body .footer .footer_item:first-child {
            align-self: baseline;
            /*margin-top: 32px;*/ } }
      .body .footer .footer_item:last-child {
        max-width: 312px; }
        @media (min-width: 768px) {
          .body .footer .footer_item:last-child {
            text-align: right;
            width: 213px; } }
        @media (min-width: 830px) {
          .body .footer .footer_item:last-child {
            width: 330px; } }

button {
  border: none;
  background: none;
  margin: 0%;
  padding: 0%; }

.text--red {
  color: #FF3E79; }

.swiper-pagination {
  position: unset; }
  @media (min-width: 768px) {
    .swiper-pagination {
      display: none; } }

.swiper-pagination-bullet {
  background: #DDDDDD; }

.swiper-pagination-bullet-active {
  background: #B5B6BC; }

/*popup----------------------------------*/
/*side-bar--------------------------------*/
/*language*/
/*nav-scroller*/
/*article*/
/*button*/
/*button-more*/
/*title*/
/*button-order*/
/*section*/
/*links-------*/
/*prices*/
/*button-submit*/

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.popup--call {
  display: none; }

.popup--feedback {
  display: none; }

.popup {
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0; }
  .popup .popup_container {
    position: fixed;
    right: 0;
    height: 100%;
    background-color: #FFFFFF;
    flex-direction: column;
    width: 288px;
    padding: 24px 16px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2); }
    @media (min-width: 544px) {
      .popup .popup_container {
        width: 376px;
        padding: 40px 32px; } }
  .popup .popup_button--close {
    margin-bottom: 40px; }
    @media (min-width: 544px) {
      .popup .popup_button--close {
        margin-bottom: unset;
        position: absolute;
        top: 35px;
        left: -72px; } }
  .popup .popup_form-field {
    margin-bottom: 16px;
    width: 270px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: 'TTLakesRegular';
    font-size: 16px;
    line-height: 24px;
    color: #B5B6BC;
    padding-left: 16px; }
    @media (min-width: 544px) {
      .popup .popup_form-field {
        width: 358px; } }
  .popup .popup_form-field--message {
    height: 106px;
    resize: none; }
  .popup .popup_title {
    margin: 0;
    margin-bottom: 24px;
    position: relative;
    font-family: 'TTLakesBold';
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21; }
    .popup .popup_title::before {
      content: " ";
      position: absolute;
      left: -16px;
      top: -4px;
      width: 4px;
      height: 40px;
      background: #41F6D7;
      border-top-right-radius: 45px;
      border-bottom-right-radius: 45px; }
      @media (min-width: 544px) {
        .popup .popup_title::before {
          left: -32px; } }
  .popup .popup_text {
    margin: 0;
    margin-bottom: 18px;
    width: 288px;
    font-family: 'TTLakesRegular';
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82; }
    @media (min-width: 544px) {
      .popup .popup_text {
        width: 376px; } }

.show {
  display: block; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@keyframes scale-rotate {
  from {
    transform: scale(1.5); }
  50% {
    transform: scale(1.5) rotate(360deg); } }

.side-bar {
  display: none;
  position: fixed;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0; }
  @media (min-width: 1366px) {
    .side-bar {
      display: block;
      z-index: unset;
      height: unset;
      position: fixed;
      width: 320px;
      padding-bottom: 100%;
      background-color: #FFFFFF; } }
  .side-bar .side-bar_container {
    width: 320px;
    height: 100%;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
    background-color: #FFFFFF; }
    @media (min-width: 1366px) {
      .side-bar .side-bar_container {
        box-shadow: none; } }
  .side-bar .side-bar_header {
    display: flex;
    flex-wrap: wrap;
    height: 88px;
    width: 320px;
    align-items: center;
    background-color: #FFFFFF; }
    .side-bar .side-bar_header .side-bar_button {
      margin: 0 16px; }
    .side-bar .side-bar_header .side-bar_logo {
      margin-right: auto; }
      @media (min-width: 1366px) {
        .side-bar .side-bar_header .side-bar_logo {
          margin-left: 16px; } }
  .side-bar .side-bar_links {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: 304px; }
    @media (min-width: 1366px) {
      .side-bar .side-bar_links {
        width: unset; } }
  .side-bar .side-bar_footer {
    padding-top: 190px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    background-color: #FFFFFF; }
  .side-bar .side-bar_button {
    margin-left: 16px; }
    .side-bar .side-bar_button:hover {
      border-radius: 50%;
      animation-name: scale-rotate;
      animation-duration: 1.5s;
      box-shadow: 0px 0px 5px 5px #7E7E82; }
  .side-bar .side-bar_email {
    text-decoration: none;
    width: 320px;
    height: 25px;
    margin-top: 16px;
    margin-left: 16px;
    font-family: 'TTLakesMedium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
  .side-bar .side-bar_tel {
    text-decoration: none;
    width: 320px;
    height: 25px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 40px;
    font-family: 'TTLakesBold';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
  .side-bar .side-bar_links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px; }

@media (min-width: 1366px) {
  .side-bar_button--close {
    display: none; } }

.show {
  display: block; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #FF3E79; }

.button--burger {
  background-image: url(./static/burger.svg); }

.button--call {
  background-image: url(./static/call.svg); }

.button--profile {
  background-image: url(./static/profile.svg); }

.button--repair {
  background-image: url(./static/repair.svg); }

.button--checkstatus {
  background-image: url(./static/checkstatus.svg); }

.button--chat {
  background-image: url(./static/chat.svg); }

.button--search {
  background-image: url(./static/search.svg); }

.button--close {
  background-image: url(./static/burger_1.svg); }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.button-submit {
  height: 32px;
  background: #FF3E79;
  border: none;
  border-radius: 16px;
  font-family: 'TTLakesMedium';
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  padding-left: 12px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 119px;
  position: relative;
  top: unset;
  left: unset; }
  .button-submit::after {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: 76px; }
    @media (min-width: 768px) {
      .button-submit::after {
        left: 88px; } }

.button-submit--price {
  position: absolute;
  top: 152px;
  left: 125px;
  width: 119px;
  height: 32px; }
  @media (min-width: 768px) {
    .button-submit--price {
      position: relative;
      top: unset;
      left: unset; } }

.button-submit--call {
  align-self: flex-end;
  position: absolute;
  top: 307px;
  left: 168px;
  margin: 0;
  padding: 0;
  width: 136px;
  height: 32px;
  padding-left: 20px; }
  @media (min-width: 544px) {
    .button-submit--call {
      top: 226px;
      left: 272px; } }
  .button-submit--call::after {
    top: 12px;
    left: 107px; }

.button-submit--feedback {
  align-self: flex-end;
  position: absolute;
  top: 578px;
  left: 168px;
  margin: 0;
  padding: 0;
  width: 136px;
  height: 32px;
  padding-left: 20px; }
  @media (min-width: 544px) {
    .button-submit--feedback {
      top: 498px;
      left: 272px; } }
  .button-submit--feedback::after {
    top: 12px;
    left: 107px; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.section-prices {
  background-color: #F8F8F8;
  margin: 0;
  min-width: 320px;
  min-height: 234px;
  overflow: hidden; }
  @media (min-width: 1120px) {
    .section-prices {
      min-width: 1020px; } }

.prices {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 16px 16px 0 0;
  height: 238px;
  margin-right: 0; }
  @media (min-width: 768px) {
    .prices {
      height: unset;
      margin: 8px 24px 24px 24px;
      overflow: unset; } }
  .prices .prices_header {
    display: none; }
    @media (min-width: 768px) {
      .prices .prices_header {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1; } }
    .prices .prices_header .prices_header-item {
      font-family: 'TTLakesRegular';
      font-size: 14px;
      line-height: 16px;
      color: #7E7E82;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 64px;
      margin: 0 16px; }
      .prices .prices_header .prices_header-item .prices_header-element {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-self: center;
        width: 10%;
        flex-grow: 1; }
        .prices .prices_header .prices_header-item .prices_header-element:first-child {
          flex-grow: 12; }
  .prices .prices_offer {
    display: flex;
    height: 200px;
    border-radius: 6px;
    border-bottom: 16px;
    margin-left: 16px; }
    @media (min-width: 768px) {
      .prices .prices_offer {
        margin-left: 0;
        border-bottom: none;
        flex-wrap: wrap;
        flex-grow: 1;
        height: 324px;
        background: #FFFFFF; } }
    .prices .prices_offer .prices_offer-item {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 260px;
      height: 200px;
      background: #FFFFFF;
      border-radius: 6px;
      margin-right: 16px; }
      @media (min-width: 768px) {
        .prices .prices_offer .prices_offer-item {
          flex-shrink: unset;
          width: 100%;
          height: 64px;
          margin: 0 16px;
          border-bottom: 1px solid #EAEAEA;
          border-radius: unset; } }
      .prices .prices_offer .prices_offer-item .prices_offer-element {
        display: flex;
        flex-wrap: wrap;
        font-family: 'TTLakesRegular';
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        width: 100%;
        margin-top: 16px;
        margin-left: 16px; }
        .prices .prices_offer .prices_offer-item .prices_offer-element:first-child {
          flex-grow: 12; }
        .prices .prices_offer .prices_offer-item .prices_offer-element:last-child {
          width: 119px;
          height: 32px;
          justify-content: end; }
        @media (min-width: 768px) {
          .prices .prices_offer .prices_offer-item .prices_offer-element {
            flex-grow: 1;
            width: 10%;
            align-self: center;
            margin-top: 0px;
            margin-left: 0px; } }

.section-prices_text {
  max-width: 288px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px 16px 16px 16px;
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21; }
  @media (min-width: 453px) {
    .section-prices_text {
      margin: 16px;
      max-width: 421px; } }
  @media (min-width: 768px) {
    .section-prices_text {
      margin-left: 24px; } }
  @media (min-width: 1120px) {
    .section-prices_text {
      margin-left: 32px; } }

.section-prices_button-offer {
  position: relative;
  padding: 0;
  margin-left: 16px;
  align-self: flex-start;
  border: none;
  background: none;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  margin-bottom: 40px;
  max-width: 192px;
  text-align: start; }
  .section-prices_button-offer::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 33px;
    left: 110px;
    height: 6px;
    width: 6px;
    border-top: 2px solid #FF3E79;
    border-right: 2px solid #FF3E79;
    border-top-left-radius: 1px;
    border-bottom-right-radius: 1px;
    transform: rotate(45deg); }
    @media (min-width: 453px) {
      .section-prices_button-offer::after {
        top: 9px;
        left: 297px; } }
  @media (min-width: 453px) {
    .section-prices_button-offer {
      max-width: 292px; } }
  @media (min-width: 768px) {
    .section-prices_button-offer {
      margin-left: 24px;
      margin-bottom: 47px;
      margin-bottom: 50px; } }

.prices_header-mobile {
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 16px;
  color: #7E7E82;
  width: 100%;
  margin-bottom: 4px; }
  @media (min-width: 768px) {
    .prices_header-mobile {
      display: none; } }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.links_item--brands {
  height: 72px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  margin-left: 16px;
  margin-right: auto;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .links_item--brands {
      margin-left: 24px; } }
  @media (min-width: 1120px) {
    .links_item--brands {
      margin-left: 32px; } }
  @media (min-width: 1366px) {
    .links_item--brands {
      margin-left: 19px; } }

.links_item--repair {
  flex-direction: column;
  height: 160px;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  margin-left: 16px;
  margin-right: auto;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .links_item--repair {
      margin-left: 24px; } }
  @media (min-width: 1120px) {
    .links_item--repair {
      margin-left: 32px; } }
  @media (min-width: 1366px) {
    .links_item--repair {
      margin-left: 19px; } }

.links_item--side-bar {
  height: 24px;
  margin-bottom: 16px; }

.links_anchor {
  text-decoration: none;
  font-family: TTLakesMedium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21; }

.links_anchor--active {
  color: #7E7E82; }
  .links_anchor--active::before {
    content: " ";
    position: absolute;
    top: 85px;
    left: 0;
    width: 4px;
    height: 32px;
    background: #41F6D7;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px; }

.links_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 240px;
  /*margin-left: 16px;
    margin-right: auto;
    margin-bottom: 16px;*/
  background-color: #FFFFFF; }
  @media (min-width: 768px) {
    .links_item {
      width: 224px;
      /*margin-left: 24px;*/ } }
  @media (min-width: 1120px) {
    .links_item {
      width: 240px;
      /* margin-left: 32px;*/ } }
  @media (min-width: 1366px) {
    .links_item {
      /*margin-left: 19px;*/ } }
  .links_item .links_item-image {
    margin-left: 16px; }
  .links_item .links_item-text {
    margin-left: 16px;
    margin-top: 16px;
    align-self: flex-start;
    font-family: 'TTLakesMedium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
  .links_item .links_item-button {
    margin-left: auto;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: auto; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.article {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px; }
  @media (min-width: 705px) {
    .article {
      flex-wrap: nowrap; } }
  .article .article_text {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    flex-direction: column; }
  .article .article_image {
    display: block;
    min-width: 320px;
    height: 176px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(./static/img-phone.jpg); }
    @media (min-width: 705px) {
      .article .article_image {
        margin: 0 24px; } }
    @media (min-width: 768px) {
      .article .article_image {
        display: flex;
        min-width: 360px;
        height: 208px;
        background-image: url(./static/img-tablet.jpg); } }
    @media (min-width: 1120px) {
      .article .article_image {
        min-width: 532px;
        height: 307px;
        background-image: url(./static/img-big.jpg); } }

.text_content {
  margin: 0;
  display: flex;
  height: 90px;
  overflow: hidden;
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  padding: 0 16px;
  margin-bottom: 16px; }
  @media (min-width: 705px) {
    .text_content {
      max-width: 417px; } }
  @media (min-width: 768px) {
    .text_content {
      max-width: 957px;
      height: 160px;
      padding: 0 24px; } }

.text_content--show {
  height: unset; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.section {
  overflow: hidden;
  margin-top: 16px; }
  .section .section_content {
    display: flex;
    flex-wrap: wrap; }
    .section .section_content .section_links {
      display: flex;
      padding: 0;
      margin-bottom: 0;
      flex-grow: 1; }
      @media (min-width: 768px) {
        .section .section_content .section_links {
          flex-wrap: wrap;
          margin-top: 24px;
          min-width: 768px;
          max-height: 175px;
          overflow: hidden; } }
    .section .section_content .section_links--show {
      max-height: unset; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.button-order {
  position: relative;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 16px;
  width: 40px;
  height: 40px; }
  .button-order::after {
    position: absolute;
    top: 13px;
    left: 11px;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 3px solid #FF3E79;
    border-bottom: 3px solid #FF3E79;
    transform: rotate(225deg); }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.button-more {
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  /*.button-more_show-more--show {
      margin-left: 24px;
      margin-bottom: 16px;
      @media (min-width: 1120px) {
        margin-left: 32px;
      };
    }*/
  /*.button-more_show-less--show {
      margin-left: 24px;
      margin-bottom: 16px;
      @media (min-width: 1120px) {
        margin-left: 32px;
      };
    };*/ }
  .button-more .button-more_show-more {
    display: none;
    margin-left: 24px;
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .button-more .button-more_show-more {
        display: block; } }
    @media (min-width: 1120px) {
      .button-more .button-more_show-more {
        margin-left: 32px; } }
    .button-more .button-more_show-more::before {
      display: inline-block;
      content: url(./static/expand.png);
      transform: translateY(20%); }
  .button-more .button-more_show-less {
    margin-left: 24px;
    margin-bottom: 16px; }
    .button-more .button-more_show-less::before {
      display: inline-block;
      content: url(./static/expand.png);
      transform: translateY(15%) rotate(180deg); }
    @media (min-width: 1120px) {
      .button-more .button-more_show-less {
        margin-left: 32px; } }
  .button-more .button-more--hide {
    display: none; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.title {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  height: 80px;
  background: linear-gradient(to right, #F8F8F8, #FFFFFF);
  margin: 0;
  margin-left: 16px;
  align-items: center;
  font-family: TTLakesRegular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82; }
  @media (min-width: 768px) {
    .title {
      height: 56px;
      margin-left: 24px; } }
  @media (min-width: 1120px) {
    .title {
      margin: 0;
      margin-left: 32px; } }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.links-language {
  height: 25px; }
  .links-language .links-language_item {
    list-style-type: none;
    width: unset;
    margin-left: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 7px;
    font-family: 'TTLakesMedium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
  .links-language .links-language_item--activ {
    color: #7E7E82; }

@font-face {
  font-family: 'TTLakesRegular';
  src: url(./fonts/TTLakes-Regular.ttf), url(./fonts/TTLakes-Regular.eot) format("eot"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesMedium';
  src: url(./fonts/TTLakes-Medium.ttf), url(./fonts/TTLakes-Medium.eot) format("eot"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'TTLakesBold';
  src: url(./fonts/TTLakes-Bold.ttf), url(./fonts/TTLakes-Bold.eot) format("eot"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.nav-scroller {
  overflow-y: hidden;
  margin: 16px 0;
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px; }
  @media (min-width: 768px) {
    .nav-scroller {
      padding-left: 24px; } }
  .nav-scroller .nav-scroller__items {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 1365px; }
    @media (min-width: 1366px) {
      .nav-scroller .nav-scroller__items {
        flex-wrap: wrap;
        flex-grow: 1; } }
    .nav-scroller .nav-scroller__items .nav-scroller__item {
      color: #7E7E82;
      display: flex;
      padding: 0 8px;
      height: 40px;
      align-items: center;
      text-decoration: none;
      font-family: TTLakesMedium;
      margin-right: auto; }
      @media (min-width: 1366px) {
        .nav-scroller .nav-scroller__items .nav-scroller__item {
          margin-right: 0; } }
      @media (min-width: 1394px) {
        .nav-scroller .nav-scroller__items .nav-scroller__item {
          margin-right: auto; } }
    .nav-scroller .nav-scroller__items .nav-scroller__item--pc-link {
      display: none; }
      @media (min-width: 1366px) {
        .nav-scroller .nav-scroller__items .nav-scroller__item--pc-link {
          display: flex; } }
    .nav-scroller .nav-scroller__items .nav-scroller__item:nth-child(2) {
      background-color: #FFFFFF;
      border: 2px solid #B8FFEC;
      border-radius: 6px; }
    @media (min-width: 1366px) {
      .nav-scroller .nav-scroller__items .nav-scroller__item:first-child {
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px; } }
    @media (min-width: 1366px) {
      .nav-scroller .nav-scroller__items .nav-scroller__item:nth-child(2) {
        background: none;
        border: none; } }


/*# sourceMappingURL=style.css.map*/